.tableHead th
{   
    font-size: 1em;
    max-width: 5em;
}

.tableBody td 
{
    max-width: 5em;
    border: 1px solid rgba( 128, 128, 128, 0.5 );
}

.cssModuleButton
{
    font-size: inherit;
    width: 4em;
    height: 4em;
    background: green;
    color: #fff;
}
